@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'DM Sans', sans-serif;
	background: rgba(17, 24, 39, 1);
}

.wrapper {
	max-width: 1182px;
	margin: 0 auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	padding: 12px 24px;
	border-radius: 5px;
	background: linear-gradient(91deg, #2563EB 15.77%, #7A55ED 47.92%, #A54EEE 71.35%, #D946EF 100%);
	color: #F9FAFB;
	width: 132px;
}

/* ==========HEADER========== */
.header-logo {
	width: 96px;
	height: 35px;
	flex-shrink: 0;
}

.header-nav {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: start;
	margin: 50px 0 0 0;
	padding: 0 0 75px 0;
	border-bottom: 2px solid #000000;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 75px 0 418px;
	gap: 60px;
}

.nav-menu-item {
	display: table-cell;
}

.nav-menu-link {
	color: rgba(251, 252, 253, 0.50);
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
}

.nav-menu-link:hover {
	color: rgba(251, 252, 253, 1);
}

.bi-list,
.bi-x-lg {
	display: none;
}

/* ==========HEADER========== */

/* ==========MAIN========== */

/* Hero */
.hero-container {
	display: flex;
	align-items: center;
}

.hero-title {
	width: 546px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
	font-size: 58px;
	font-weight: 700;
	line-height: 84px;
	letter-spacing: 1.16px;
	background: linear-gradient(88deg, #2563EB 0%, #D946EF 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: -70px 0 30px 0;
}

.hero-text {
	width: 534px;
	height: 59px;
	flex-shrink: 0;
	color: #E5E7EB;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
	font-size: 15px;
	font-weight: 500;
	line-height: 30px;
	opacity: 0.8;
	margin: 0 0 30px 0;
}

.hero-w {
	display: flex;
	align-items: center;
	gap: 30px;
}

.hero-video {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero-video-text {
	color: #F9FAFB;
	font-size: 16px;
	font-weight: 500;
}

.hero-img {
	margin: -70px 0 0 0;
}

/* Our Service */
/* Third Section */
/* Fourth Section */
/* Met Our Team */
/* Subcribe */

/* ==========MAIN========== */

/* ==========FOOTER========== */
/* ==========FOOTER========== */


@media (max-width: 1182px) {
	.wrapper {
		max-width: 769px;
	}

	.nav-menu {
		margin: 0 50px 0 30px;
	}

	.hero-container {
		display: block;
		flex-direction: column;
	}

	.hero-title {
		margin: 50px 0 0 0;
	}

	.hero-img {
		margin: 0 0 0 0;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}

	.nav-menu-item {
		display: none;
	}

	.nav-btn {
		margin: 0 100px 0 60px;
	}

	.bi-list {
		display: flex;
		color: #FFFFFF;
	}

	.bi-x-lg {
		display: none;
		color: #FFFFFF;
	}

	.hero-title {
		width: auto;
		font-size: 48px;
	}

	.hero-text {
		width: auto;
		height: auto;
		font-size: 13px;
	}

	.hero-img {
		width: 481px;
		height: 481px;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}

	.nav-btn {
		margin: 0 40px 0 -40px;
	}

	.hero-title {
		font-size: 32px;
		line-height: 52px;
		margin: 50px 0 20px 0;
	}

	.hero-img {
		width: 321px;
		height: 321px;
	}
}

/* MINI MOBILE */
@media (max-width: 320px) {
	.wrapper {
		max-width: auto;
	}
}